a {
  color:#4f4a13;
}

/*Header/logo*/
.menu-text h3 {
  color: #431f10;
  margin: 0;
  
}
.menu-text img{
  width:30%;
}
.menu .menu-text{
  padding:0;
}
.menu {
  background-image: linear-gradient(45deg, #cfc87b, #d2a52a);
  border: none;
}

/* nav bar style rules */
#meal-categories, #drink-categories, #saved-recipes{
  text-decoration: underline;
}
.dropdown.menu>li.is-active>a {
  color:#ba172d;
}
.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
  border:none;
}
.top-bar{
  background-color: #4f4a13;
  padding: 0%;
  
}
.top-bar ul{
  background-color: #cfc87b;
}
body{
  background-color: #4f4a13;
}
.top-bar:active{
  color:#ba172d;
}
h3 {
  color:#431f10;
  font-weight: bold;
}

.menu-text2 {
  font-size: 17px;
  color: #6d441d;
  font-weight: bold;
}

.columns a:hover{
  color:#ba5517;

}


/* style rules for middle of page - food image */

.marketing-site-hero {
    background: url("../hotmealheroimage.jpg") top right no-repeat;
    background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
  
@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: black;    
}
  
.marketing-site-hero-content h1 {
  font-size: 32px;
  font-weight: 800;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}
  
@media screen and (min-width: 40em) {
  .marketing-site-hero-content {
    padding-left: 50%;
  }
}


/* create a hidden class to hide elements on the page as needed (like when loading in recipe cards) */

.hidden {
  display: none;
}

/*style rules for the selectable recipe cards*/
#templateCard{
  margin-bottom: 2vh;
  align-items:center;
  justify-content: center;
}

.card{
 border: none;
 box-shadow: 0 0 10px #cfc87b;;
}
.card-select {
  text-align: center;
  transition: all 0.5s ease;
  background-color: #cfc87b;
  background-image: linear-gradient(45deg, #d2a52a, #cfc87b);
}

.card-select a{
  color:#ba5517;
}

.card-select a:hover{
  color:#ba172d;
}
.card-select a:focus{
  color:#ba172d;
}

.card-select .card-divider {
  background-color: transparent;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.card-select .button {
  padding: 1rem;
  background-color: #69541a;
  border: none;
  width: 500px;
  border-radius: 10%;
}

.card-select .button:after {
  content: 'Save Recipe';
}

.card-select .button:hover {
  background-color: #ba172d;
}

.card-select .button:focus {
  background-color: #ba172d;
}

.card-select.is-selected {
  border: 1px solid #ba5517;
  box-shadow: 0 0 10px #e6e6e6;
  transition: all 0.5s ease;
}

.card-select.is-selected .button {
  background-color: #ba172d;
}

.card-select.is-selected .button:after {
  content: 'Saved Recipe';
}

.recipe-cards {
  width: 400px;
  height: 545px;
}

.recipe-img {
  width: 300px;
  height: 300px;
}


/*Saved Recipes Styling*/

.card-divider{
  display:none;
}
#savedRecipes{
  color:#cfc87b
}
.card-section a{
  color:#ba172d;
}
